version: '3.4'

x-app-override:
  &app-override
  volumes:
    - ${APP_ROOT_HOST:-.}:${APP_ROOT_CONTAINER}/

services:
  app:
    <<: *app-override

  app-production:
    <<: *app-override

  shell-linter:
    volumes:
      - ${APP_ROOT_HOST:-.}:/mnt/

